@model IEnumerable<AthabascaAssesmentTest.Models.RootObject>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clues_count)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clues_count)
        </td>
        
    </tr>
}

</table>



@foreach(var a in Model)
{
    foreach(var b in a.clues)
    {
        @b.id.ToString()
    }
}
